<server description="new server">

	<!-- Enable features -->
	<featureManager>
		<feature>webProfile-8.0</feature>
		<feature>localConnector-1.0</feature>
	</featureManager>

	<!-- JNDI -->
	<featureManager>
		<feature>jndi-1.0</feature>
	</featureManager>
	<jndiEntry jndiName="schoolOfAthens/defaultAdminUserName"
		value="&quot;plato&quot;" />
	<jndiEntry jndiName="schoolOfAthens/defaultAdminPassword"
		value="&quot;republic&quot;" />

	<!-- Derby Embedded DS -->
	<dataSource id="derbyEmbeddedDs"
		jndiName="jdbc/derbyEmbeddedDs">
		<jdbcDriver libraryRef="DerbyLib" />
		<properties.derby.embedded
			createDatabase="create" databaseName="D:/Work/db/derby/db/firstdb" />
	</dataSource>
	<library id="DerbyLib">
		<fileset dir="D:/Work/db/derby/db-derby-10.15.2.0-bin/lib" />
	</library>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint httpPort="9080" httpsPort="9443"
		id="defaultHttpEndpoint" />

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true" />

	<applicationMonitor updateTrigger="mbean" />
</server>